{% extends 'layout.html' %}

{% block content %}

<!-- profile.html -->

<div id="user-info">
    <div class="user-info-left">
{#        <img src="{{ url_for('static', filename='user_photo.png') }}" alt="User Photo" class="user-photo">#}
        <h2>{{ session['username'] }}</h2>
    </div>
    <div class="user-info-right">
        <p>Games in Wishlist: {{ wishlist|length }}</p>
        <p>Reviewed Games: {{ reviews|length }}</p>
    </div>
</div>

<!-- Buttons to switch between Wishlist and Liked Games -->
<div id="profile-buttons">
    <span id="wishlist-btn" class="profile-button" onclick="showWishlist(this)">Wishlist</span>
    <span> | </span>
    <span id="reviewed-btn" class="profile-button" onclick="showReviewedGames(this)">Reviewed Games</span>
</div>



<div id="wishlist-container" class="game-card-container">
    <div class="desc" style="width:100%; text-align: center;">
        <p>Games you added to your wishlist:</p>
    </div>
    {% for game in wishlist %}
    <div class="game-card">
        <a href="{{ url_for('gameDescription_bp.game_description', game_id=game.game_id) }}">
            <img class="game-card-image" src="{{ game.image_url }}" alt="{{ game.title }} Image">
        </a>
        <div class="game-card-title">
            <a href="{{ url_for('gameDescription_bp.game_description', game_id=game.game_id) }}">{{ game.title }}</a>
        </div>
        <div class="game-card-details">
            Price: ${{ game.price }}<br>
            <br>
            ID: {{ game.game_id }}<br>
            Release Date: {{ game.release_date }}<br>
            Publisher: {{ game.publisher.publisher_name }}<br>
        </div>
        <div class="game-card-genres">
            Genres: {{ game.genre_names|replace("', '", ', ')|replace("['", '')|replace("']", '')|replace("<", '')|replace(">", '') }}
        </div>
        <form method="POST" action="{{ url_for('profile_bp.remove_from_wishlist', game_id=game.game_id) }}">
            <button class="search-button" type="submit" style="margin-top: 10px;">Remove from Wishlist</button>
        </form>


    </div>
    {% endfor %}
</div>


<div id="reviewed-games-container" class="game-card-container">
    <div class="desc" style="width:100%; text-align: center;">
        <p>Games you reviewed:</p>
    </div>
    {% for review in reviews %}
    <div class="reviewed-game-card"> <!-- Use the new class for reviewed games -->
        <a href="{{ url_for('gameDescription_bp.game_description', game_id=review.game.game_id) }}">
            <img class="game-card-image" src="{{ review.game.image_url }}" alt="{{ review.game.title }} Image">
        </a>
        <div class="game-card-title">
            <a href="{{ url_for('gameDescription_bp.game_description', game_id=review.game.game_id) }}">{{ review.game.title }}</a>
        </div>
        <div class="review">
            {{ review.comment }}
            <br>
            <strong>Rating:</strong> {{ review.rating }}/5
        </div>
    </div>
    {% endfor %}
</div>


<br><br>


<script>
    // Function to show wishlist games and toggle the hoverable class
    function showWishlist() {
        document.getElementById("wishlist-container").style.display = "flex";
        document.getElementById("reviewed-games-container").style.display = "none";
        document.getElementById("wishlist-btn").style.color = "#2ba5c5"
        document.getElementById("reviewed-btn").style.color = "#99D4E4"
    }

    // Function to show reviewed games and toggle the hoverable class
    function showReviewedGames() {
        document.getElementById("wishlist-container").style.display = "none";
        document.getElementById("reviewed-games-container").style.display = "flex";
        document.getElementById("wishlist-btn").style.color = "#99D4E4"
        document.getElementById("reviewed-btn").style.color = "#2ba5c5"
    }

    // Initially, show the wishlist by default (you can adjust this as needed)
    showWishlist();
</script>



{% endblock %}