{% extends 'layout.html' %}
{% block content %}
<main id="main">
    <div class="formcontainer">
        <div class="formcontents">
            <h1 class="title">{{ title }}</h1>
            <form method="POST" action="{{ handler_url }}">
                 {{ form.csrf_token }} <!-- token - Flask WTForms -->
                <div class="form-field">
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors or username_error_message %}
                        <ul class="errors">
                            {% if username_error_message %}
                                <li>{{ username_error_message }}</li>
                            {% endif %}
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-field">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password }}
                    {% if form.password.errors or password_error_message %}
                        <ul class="errors">
                            {% if password_error_message %}
                                <li>{{ password_error_message }}</li>
                            {% endif %}
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <button class="submit">{{ form.submit }}</button>
            </form>

            <div class="flash-messages" style="text-align:center;padding:20px">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash">
                            {% for message in messages %}
                                <li class="flash-{{ message }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>

        </div>
    </div>
</main>
{% endblock %}
